<div class="page-content-holder">
    <div class="page-content-card lg:w-3/5">
        <div *ngIf="student" class="px-4">
            <transaction-form-dialog 
            [opened]="transactionFormDialogOpened"
            [options]="transactionFormDialogOptions">
            </transaction-form-dialog>
            <div class="mb-4 text-4xl font-bold text-center">
                <h1>{{student.firstName}} {{student.lastName}} {{student.studentCard}}</h1>
            </div>
            <form #f="ngForm" (ngSubmit)="submit(f)">
                <div
                  class="
                    flex flex-col
                    py-4
                    space-y-4
                    justify-evenly
                    bg-indigo-800
                    text-lg
                  "
                >
                  <div class="flex w-full space-x-4">
                    <div class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        id="firstName"
                        name="firstName"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.firstName"
                        #firstName="ngModel"
                      />
                      <label for="firstName">First Name</label>
                      <div
                        *ngIf="firstName.touched && firstName.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="firstName.errors?.required">
                            First Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        id="lastName"
                        name="lastName"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.lastName"
                        #lastName="ngModel"
                      />
                      <label for="lastName">Last Name</label>
                      <div
                        *ngIf="lastName.touched && lastName.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="lastName.errors?.required">
                            Last Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ngModelGroup="user" class="flex w-full space-x-4">
                    <div class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        id="username"
                        name="username"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.user.username"
                        #username="ngModel"
                      />
                      <label for="username">Username</label>
                      <div
                        *ngIf="username.touched && username.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="username.errors?.required">
                            Username is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        email
                        id="email"
                        name="email"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.user.email"
                        #email="ngModel"
                      />
                      <label for="email">Email</label>
                      <div
                        *ngIf="email.touched && email.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="email.errors?.required">Email is required</div>
                          <div *ngIf="email.errors?.email">
                            Email must be a valid email
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex w-full space-x-4">
                    <div ngModelGroup="user" class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        id="phoneNumber"
                        name="phoneNumber"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.user.phoneNumber"
                        #phoneNumber="ngModel"
                      />
                      <label for="phoneNumber">Phone Number</label>
                      <div
                        *ngIf="phoneNumber.touched && phoneNumber.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="phoneNumber.errors?.required">
                            Phone Number is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        id="address"
                        name="address"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.address"
                        #address="ngModel"
                      />
                      <label for="address">Address</label>
                      <div
                        *ngIf="address.touched && address.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="address.errors?.required">Address is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex w-full space-x-4">
                    <div class="custom-input-holder w-1/2">
                      <input
                        [disabled]="!editMode"
                        required
                        id="dateOfBirth"
                        name="dateOfBirth"
                        type="date"
                        placeholder=" "
                        class="input-underlined"
                        [ngModel]="student.dateOfBirth | date: 'yyyy-MM-dd'"
                        (ngModelChange)="student.dateOfBirth = $event"
                        #dateOfBirth="ngModel"
                      />
                      <label for="dateOfBirth">Date of birth</label>
                      <div
                        *ngIf="dateOfBirth.touched && dateOfBirth.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="dateOfBirth.errors?.required">
                            Date of birth is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="custom-input-holder w-1/2">
                      <input
                        disabled
                        required
                        id="generation"
                        name="generation"
                        type="number"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.generation"
                        #generation="ngModel"
                      />
                      <label for="generation">Generation</label>
                      <div
                        *ngIf="generation.touched && generation.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="generation.errors?.required">
                            Generation is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex w-full space-x-4">
                    <div class="custom-input-holder w-1/2 pr-2">
                      <input
                        disabled
                        required
                        id="studentCard"
                        name="studentCard"
                        type="text"
                        placeholder=" "
                        class="input-underlined"
                        [(ngModel)]="student.studentCard"
                        #studentCard="ngModel"
                      />
                      <label for="studentCard">Student Card</label>
                      <div
                        *ngIf="studentCard.touched && studentCard.invalid"
                        class="input-error-holder"
                      >
                        <div class="flex-col space-y-2">
                          <div *ngIf="studentCard.errors?.required">
                            Student Card is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button hidden></button>
              </form>
              <div class="inline-flex w-full justify-end space-x-2">
                <button
                  *ngIf="!editMode"
                  (click)="editMode = true"
                  class="btn btn-yellow"
                >
                  Edit
                </button>
                <button *ngIf="editMode" (click)="onCancel(f)" class="btn btn-red">
                  Cancel
                </button>
                <button
                  *ngIf="editMode"
                  (click)="f.onSubmit($event)"
                  class="btn btn-indigo"
                >
                  Save
                </button>
              </div>
              <div class="mt-2 text-lg">
                <h1 class="mb-4 text-3xl font-bold">Financial Card</h1>
                <p>Current ammount: {{student.financialCard?.currentAmmount}}</p>
                <p>Total deposit: {{student.financialCard?.totalDeposit}}</p>
                <p>Total spent: {{student.financialCard?.totalSpent}}</p>

                <button
                  title="Show transactions"
                  (click)="showTransactions = !showTransactions"
                  class="btn btn-indigo inline-flex items-center w-full mt-2 rounded-md"
                >
                  <svg
                    *ngIf="!showTransactions"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                  <svg
                    *ngIf="showTransactions"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 15l7-7 7 7"
                    />
                  </svg>
                  Transactions
                </button>
                <div accordion [opened]="showTransactions">
                  <div class="w-full text-base">
                    <button
                      title="Create transaction"
                      class="btn btn-green inline-flex items-center"
                      (click)="onNewTransactionClick()"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                      New
                    </button>
                  </div>
                  <div *ngIf="transactionsPage$ | async as transactionsPage" class="text-base">
                    <table
                      class="
                        w-full
                        table-auto
                        text-center
                        border-separate
                        table-row-spacing-y-4
                        font-semibold
                      "
                    >
                      <thead>
                        <tr class="bg-red-300 text-indigo-800 shadow-md">
                          <th
                            class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
                            (click)="
                              onTransactionSortOptionsChange(transactionsPage.queryParams.sort, 'date')
                            "
                          >
                            <div class="flex justify-center">
                              Date
                              <svg
                                *ngIf="
                                  sortParamsUtils.isSortedByPropertyASC(
                                    transactionsPage.queryParams.sort,
                                    'date'
                                  )
                                "
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M8 7l4-4m0 0l4 4m-4-4v18"
                                />
                              </svg>
                              <svg
                                *ngIf="
                                  sortParamsUtils.isSortedByPropertyDESC(
                                    transactionsPage.queryParams.sort,
                                    'date'
                                  )
                                "
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M16 17l-4 4m0 0l-4-4m4 4V3"
                                />
                              </svg>
                            </div>
                          </th>
                          <th
                            class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
                            (click)="
                              onTransactionSortOptionsChange(transactionsPage.queryParams.sort, 'description')
                            "
                          >
                            <div class="flex justify-center">
                              Description
                              <svg
                                *ngIf="
                                  sortParamsUtils.isSortedByPropertyASC(
                                    transactionsPage.queryParams.sort,
                                    'description'
                                  )
                                "
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M8 7l4-4m0 0l4 4m-4-4v18"
                                />
                              </svg>
                              <svg
                                *ngIf="
                                  sortParamsUtils.isSortedByPropertyDESC(
                                    transactionsPage.queryParams.sort,
                                    'description'
                                  )
                                "
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M16 17l-4 4m0 0l-4-4m4 4V3"
                                />
                              </svg>
                            </div>
                          </th>
                          <th
                            class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
                            (click)="
                              onTransactionSortOptionsChange(transactionsPage.queryParams.sort, 'ammount')
                            "
                          >
                            <div class="flex justify-center">
                              Ammount
                              <svg
                                *ngIf="
                                  sortParamsUtils.isSortedByPropertyASC(
                                    transactionsPage.queryParams.sort,
                                    'ammount'
                                  )
                                "
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M8 7l4-4m0 0l4 4m-4-4v18"
                                />
                              </svg>
                              <svg
                                *ngIf="
                                  sortParamsUtils.isSortedByPropertyDESC(
                                    transactionsPage.queryParams.sort,
                                    'ammount'
                                  )
                                "
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M16 17l-4 4m0 0l-4-4m4 4V3"
                                />
                              </svg>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let transaction of transactionsPage.content"
                          class="bg-indigo-900 hover:bg-indigo-600 text-white shadow-md"
                        >
                          <td>{{ transaction.date }}</td>
                          <td>{{ transaction.description }}</td>
                          <td>{{ isTransactionPayment(transaction.type) ? -transaction.ammount : transaction.ammount }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      class="flex justify-end"
                      pagination
                      [itemsCount]="transactionsPage.totalItemsCount"
                      [pagesCount]="transactionsPage.totalPagesCount"
                      [pageSize]="transactionsPage.pageSize"
                      [currentPage]="transactionsPage.currentPage"
                      (pageChange)="onTransactionPageChange($event)"
                      (pageSizeChange)="onTransactionPageSizeChange($event)"
                    ></div>
                  </div>
                </div>
                <button
                    title="Show enrollments"
                    (click)="showEnrollments = !showEnrollments"
                    class="btn btn-indigo inline-flex items-center w-full mt-2 rounded-md"
                  >
                  <svg
                    *ngIf="!showEnrollments"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                  <svg
                    *ngIf="showEnrollments"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 15l7-7 7 7"
                    />
                  </svg>
                  Enrollments
                </button>
                <div accordion [opened]="showEnrollments">
                  <p>Enrollments...</p>
                  <p>Enrollments...</p>
                  <p>Enrollments...</p>
                  <p>Enrollments...</p>
                </div>
                <button
                    title="Show documents"
                    (click)="showDocuments = !showDocuments"
                    class="btn btn-indigo inline-flex items-center w-full mt-2 rounded-md"
                  >
                  <svg
                    *ngIf="!showDocuments"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                  <svg
                    *ngIf="showDocuments"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 15l7-7 7 7"
                    />
                  </svg>
                  Documents
                </button>
                <div accordion [opened]="showDocuments">
                  <p>Documents...</p>
                  <p>Documents...</p>
                  <p>Documents...</p>
                  <p>Documents...</p>
                </div>
              </div>
        </div>
    </div>
</div>