<div class="flex flex-col flex-auto justify-center items-center">
  <div class="w-full lg:w-4/5 bg-indigo-800 h-full p-4">
    <div *ngIf="userType === 'admins'">
      <admins
        [pageParams$]="pageParams$"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      ></admins>
    </div>

    <div *ngIf="userType === 'teachers'">
      <div class="w-full">
        <button (click)="showSearchBox = !showSearchBox" class="btn btn-indigo">
          >
        </button>
        Filter
        <div [hidden]="!showSearchBox" class="w-full h-16 bg-yellow-300"></div>
      </div>
      <div class="grid grid-flow-row gap-4 auto-rows-max mt-4">
        <div class="custom-table-row bg-red-300 text-indigo-800">
          <div>First Name</div>
          <div>Last Name</div>
          <div>Username</div>
          <div>Email</div>
          <div>Address</div>
          <div>Phone</div>
          <div>Authorities</div>
        </div>
        <div *ngFor="let teacher of teachers" class="custom-table-row">
          <div>{{ teacher.firstName }}</div>
          <div>{{ teacher.lastName }}</div>
          <div>{{ teacher.username }}</div>
          <div>{{ teacher.email }}</div>
          <div>{{ teacher.address }}</div>
          <div>{{ teacher.phoneNumber }}</div>
          <div>{{ teacher.authorities[0] }}</div>
        </div>
      </div>
    </div>

    <div *ngIf="userType === 'students'">
      <div class="w-full">
        <button (click)="showSearchBox = !showSearchBox" class="btn btn-indigo">
          >
        </button>
        Filter
        <div [hidden]="!showSearchBox" class="w-full h-16 bg-yellow-300"></div>
      </div>
      <div class="grid grid-flow-row gap-4 auto-rows-max mt-4">
        <div class="custom-table-row bg-red-300 text-indigo-800">
          <div>First Name</div>
          <div>Last Name</div>
          <div>Username</div>
          <div>Email</div>
          <div>Address</div>
          <div>Phone</div>
          <div>Authorities</div>
        </div>
        <div *ngFor="let student of students" class="custom-table-row">
          <div>{{ student.firstName }}</div>
          <div>{{ student.lastName }}</div>
          <div>{{ student.username }}</div>
          <div>{{ student.email }}</div>
          <div>{{ student.address }}</div>
          <div>{{ student.phoneNumber }}</div>
          <div>{{ student.authorities[0] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
