<app-dialog [opened]="opened" [modal]="true">
  <ng-container class="heading">{{ options.title }}</ng-container>
  <ng-container class="content">
    <div class="px-2 py-2 min-h-12 bg-indigo-800">
      {{ options.message }}
    </div></ng-container
  >
  <ng-container class="footer">
    <div class="inline-flex w-full justify-end space-x-2">
      <button class="btn-sm-red" (click)="options.decline()">No</button>
      <button class="btn-sm-green" (click)="options.confirm()">Yes</button>
    </div>
  </ng-container>
</app-dialog>
