<app-dialog [opened]="opened" [modal]="true" xmlns="http://www.w3.org/1999/html">
  <ng-container class="heading">{{
    options.state === FORM_STATE.ADD
      ? "Create an exam"
      : "Edit " + originalDescription
    }}</ng-container>
  <ng-container class="content">
    <div class="flex px-8 py-4 space-x-8 justify-evenly bg-indigo-800" >
      <div class="flex flex-col space-y-4 bg-indigo-800" >
        <form #f="ngForm" (ngSubmit)="submit()">
          <div
            class="
            flex flex-col
            w-full
            px-4
            py-4
            space-y-4
            justify-evenly
            bg-indigo-800
            items-center"
          >
              <div class="custom-input-holder w-full">
                <input
                  required
                  id="dateTime"
                  name="dateTime"
                  type="datetime-local"
                  placeholder=" "
                  class="input-underlined"
                  [(ngModel)]="exam.dateTime"
                  #dateTime="ngModel"
                />
                <label for="dateTime">Start date</label>
                <div
                  *ngIf="dateTime.touched && dateTime.invalid"
                  class="input-error-holder"
                >
                  <div class="flex-col space-y-2">
                    <div *ngIf="dateTime.errors?.required">
                      Start date is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-input-holder w-full">
                <input
                  required
                  id="description"
                  name="description"
                  type="text"
                  placeholder=" "
                  class="input-underlined"
                  [(ngModel)]="exam.description"
                  #description="ngModel"
                />
                <label for="description">Description</label>
                <div
                  *ngIf="description.touched && description.invalid"
                  class="input-error-holder"
                >
                  <div class="flex-col space-y-2">
                    <div *ngIf="description.errors?.required">
                      Description is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-input-holder w-full">
                <input
                  required
                  id="classroom"
                  name="classroom"
                  type="text"
                  placeholder=" "
                  class="input-underlined"
                  [(ngModel)]="exam.classroom"
                  #classroom="ngModel"
                />
                <label for="classroom">Classroom</label>
                <div
                  *ngIf="classroom.touched && classroom.invalid"
                  class="input-error-holder"
                >
                  <div class="flex-col space-y-2">
                    <div *ngIf="classroom.errors?.required">
                      Classroom is required
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </form>
        <div
            class="
            flex flex-col
            w-full
            px-4
            space-y-4
            justify-evenly
            bg-indigo-800
            items-center"
        >
        <div class="custom-input-holder w-full">
          <button class="btn btn-green inline-flex items-center item-underlined w-full"
                  (click)="showExamPeriods = !showExamPeriods"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            Select exam period
          </button>
          <div
            *ngIf="exam.examPeriod.name === ''"
            class="input-error-holder"
          >
            <div class="flex-col space-y-2">
              <div *ngIf="exam.examPeriod.name === ''">
                You need to select exam period
              </div>
            </div>
          </div>
        </div>
          <div class="custom-input-holder w-full" *ngIf="exam.examPeriod.name !== ''">
            <input
              disabled
              id="examPeriod"
              name="examPeriod"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="exam.examPeriod.name"
              #examPeriod="ngModel"
            />
            <label for="examPeriod">Exam period</label>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-container class="footer">
    <div class="inline-flex w-full justify-end space-x-2">
      <button class="btn-sm-red" (click)="options.cancel()">Cancel</button>
      <button
        [disabled]="f.invalid || exam.examPeriod.name === ''"
        class="btn-sm-blue disabled:bg-gray-600 disabled:opacity-50"
        (click)="f.onSubmit($event)"
      >
        Save
      </button>
    </div>
  </ng-container>

</app-dialog>

<app-dialog [opened]="showExamPeriods" [modal]="true" xmlns="http://www.w3.org/1999/html">
  <ng-container class="heading">Select an exam period</ng-container>
  <ng-container class="content">
    <div
         exam-periods
         (itemTake)="onExamPeriodTaken($event)"
         [selectable]="true"
    >
    </div>
  </ng-container>
  <ng-container class="footer">
    <div class="inline-flex w-full justify-end space-x-2">
      <button class="btn-sm-red" (click)="showExamPeriods = !showExamPeriods">Cancel</button>
    </div>
  </ng-container>
</app-dialog>
