<transaction-form-dialog 
    [opened]="transactionFormDialogOpened"
    [options]="transactionFormDialogOptions">
</transaction-form-dialog>
<div class="w-full text-base">
    <button
    *ngIf="authService.currentUser?.authorities!.includes('ADMIN')"
    title="Create transaction"
    class="btn btn-green inline-flex items-center"
    (click)="onNewTransactionClick()"
    >
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
    </svg>
    New
    </button>
</div>
<div *ngIf="transactionsPage$ | async as transactionsPage" class="text-base">
    <table
    class="
        w-full
        table-auto
        text-center
        border-separate
        table-row-spacing-y-4
        font-semibold
    "
    >
    <thead>
        <tr class="bg-red-300 text-indigo-800 shadow-md">
        <th
            class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
            (click)="
            onSortOptionsChange(transactionsPage.queryParams.sort, 'date')
            "
        >
            <div class="flex justify-center">
            Date
            <svg
                *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                    transactionsPage.queryParams.sort,
                    'date'
                )
                "
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
                />
            </svg>
            <svg
                *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                    transactionsPage.queryParams.sort,
                    'date'
                )
                "
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
                />
            </svg>
            </div>
        </th>
        <th
            class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
            (click)="
            onSortOptionsChange(transactionsPage.queryParams.sort, 'description')
            "
        >
            <div class="flex justify-center">
            Description
            <svg
                *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                    transactionsPage.queryParams.sort,
                    'description'
                )
                "
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
                />
            </svg>
            <svg
                *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                    transactionsPage.queryParams.sort,
                    'description'
                )
                "
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
                />
            </svg>
            </div>
        </th>
        <th
            class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
            (click)="
            onSortOptionsChange(transactionsPage.queryParams.sort, 'ammount')
            "
        >
            <div class="flex justify-center">
            Ammount
            <svg
                *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                    transactionsPage.queryParams.sort,
                    'ammount'
                )
                "
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
                />
            </svg>
            <svg
                *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                    transactionsPage.queryParams.sort,
                    'ammount'
                )
                "
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
                />
            </svg>
            </div>
        </th>
        </tr>
    </thead>
    <tbody>
        <tr
        *ngFor="let transaction of transactionsPage.content"
        class="bg-indigo-900 hover:bg-indigo-600 text-white shadow-md"
        >
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ isTransactionPayment(transaction.type) ? -transaction.ammount : transaction.ammount }}</td>
        </tr>
    </tbody>
    </table>
    <div
    class="flex justify-end"
    pagination
    [itemsCount]="transactionsPage.totalItemsCount"
    [pagesCount]="transactionsPage.totalPagesCount"
    [pageSize]="transactionsPage.pageSize"
    [currentPage]="transactionsPage.currentPage"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    ></div>
</div>