<app-dialog [opened]="opened" [modal]="true" xmlns="http://www.w3.org/1999/html">
  <ng-container class="heading">{{
    options.state === FORM_STATE.ADD
      ? "Create new teacher role"
      : ""
    }}
  </ng-container>
  <ng-container class="content" >
    <div class="flex px-8 py-4 space-x-8 justify-evenly bg-indigo-800" >
      <div class="flex flex-col w-100 space-y-4 bg-indigo-800" >
        <form #frm="ngForm" (ngSubmit)="submit()">
        <div class="custom-input-holder">
          <input
          required
          id="teacherRoleName"
          name="teacherRoleName"
          class="input-underlined"
          [(ngModel)]="teacherRole.name"
          #teacherRoleName="ngModel"/>
          <label for="teacherRoleName">Teacher role name</label>
          <div *ngIf="teacherRoleName.touched && teacherRoleName.invalid"
               class="input-error-holder">
            <div class="flex-col space-y-2">
              <div *ngIf="teacherRoleName.errors?.required">
                Teacher role name is required
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-container class="footer">
    <div class="inline-flex w-full justify-end space-x-2">
      <button class="btn-sm-red" (click)="options.cancel()">Cancel</button>
      <button
        [disabled]="frm.invalid"
        class="btn-sm-blue disabled:bg-gray-600 disabled:opacity-50"
        (click)="frm.onSubmit($event)"
      >
        Save
      </button>
    </div>
  </ng-container>
</app-dialog>
