<div
  [class.bg-gray-500]="mask"
  [class.bg-opacity-60]="mask"
  [class.pointer-events-none]="!maskPointerEvents"
  class="flex fixed top-0 left-0 h-screen w-screen justify-center items-center"
>
  <div
    class="
      pointer-events-auto
      flex flex-col
      min-w-1/4 min-h-1/4
      max-w-3/4 max-h-3/4
      w-auto
      h-auto
      bg-perfectDark
      rounded-2xl
      shadow-md
    "
  >
    <div
      class="
        flex-none
        w-full
        h-12
        text-xl
        bg-gray-800
        p-2
        rounded-t-2xl
        shadow-md
      "
    >
      <ng-content select=".heading"></ng-content>
    </div>
    <div class="flex-auto w-full overflow-auto">
      <ng-content select=".content"></ng-content>
    </div>
    <div class="flex-none w-full h-12 bg-gray-800 p-2 rounded-b-2xl shadow-md">
      <ng-content select=".footer"></ng-content>
    </div>
  </div>
</div>
