<exam-obligation-taking-form-dialog
  [opened]="takingFormDialogOpened"
  [options]="takingFormDialogOptions"
  [examObligation]="obligation"
>
</exam-obligation-taking-form-dialog>
<button
  title="Create transaction"
  class="btn btn-green inline-flex items-center"
  (click)="onNewTakingClick()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  New
</button>
<div *ngIf="takingsPage$ | async as takingsPage" class="text-base">
  <table
    class="
      w-full
      table-fixed
      text-center
      border-separate
      table-row-spacing-y-4
      font-semibold
    "
  >
    <thead>
      <tr class="bg-red-300 text-indigo-800 shadow-md">
        <th
          class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
          (click)="
            onSortOptionsChange(
              takingsPage.queryParams.sort,
              'enrollment.student.studentCard'
            )
          "
        >
          <div class="flex justify-center">
            Student card
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                  takingsPage.queryParams.sort,
                  'enrollment.student.studentCard'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
              />
            </svg>
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                  takingsPage.queryParams.sort,
                  'enrollment.student.studentCard'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
              />
            </svg>
          </div>
        </th>

        <th
          class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
          (click)="
            onSortOptionsChange(
              takingsPage.queryParams.sort,
              'enrollment.student.firstName'
            )
          "
        >
          <div class="flex justify-center">
            First name
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                  takingsPage.queryParams.sort,
                  'enrollment.student.firstName'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
              />
            </svg>
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                  takingsPage.queryParams.sort,
                  'enrollment.student.firstName'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
              />
            </svg>
          </div>
        </th>

        <th
          class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
          (click)="
            onSortOptionsChange(
              takingsPage.queryParams.sort,
              'enrollment.student.lastName'
            )
          "
        >
          <div class="flex justify-center">
            Last name
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                  takingsPage.queryParams.sort,
                  'enrollment.student.lastName'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
              />
            </svg>
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                  takingsPage.queryParams.sort,
                  'enrollment.student.lastName'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
              />
            </svg>
          </div>
        </th>
        <th
          class="hover:bg-red-400 active:bg-orange-400 cursor-pointer"
          (click)="onSortOptionsChange(takingsPage.queryParams.sort, 'score')"
        >
          <div class="flex justify-center">
            Score
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyASC(
                  takingsPage.queryParams.sort,
                  'score'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7l4-4m0 0l4 4m-4-4v18"
              />
            </svg>
            <svg
              *ngIf="
                sortParamsUtils.isSortedByPropertyDESC(
                  takingsPage.queryParams.sort,
                  'score'
                )
              "
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 17l-4 4m0 0l-4-4m4 4V3"
              />
            </svg>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let taking of takingsPage.content"
        class="bg-indigo-900 hover:bg-indigo-600 text-white shadow-md"
      >
        <td>{{ taking.enrollment?.student?.firstName }}</td>
        <td>{{ taking.enrollment?.student?.lastName }}</td>
        <td>
          <a
            [routerLink]="'/students/' + taking.enrollment?.student?.id"
            class="hover:text-orange-500"
            >{{ taking.enrollment?.student?.studentCard }}</a
          >
        </td>
        <td>{{ taking.score }}</td>
      </tr>
    </tbody>
  </table>

  <div
    class="flex justify-end"
    pagination
    [itemsCount]="takingsPage.totalItemsCount"
    [pagesCount]="takingsPage.totalPagesCount"
    [pageSize]="takingsPage.pageSize"
    [currentPage]="takingsPage.currentPage"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  ></div>
</div>
