<div class="flex flex-col flex-auto justify-center items-center">
    <div class="lg:w-3/4 bg-indigo-800 h-full p-4">
        <div class="w-3/4">
            <app-exam-period-form-dialog 
            [opened]="examperiodFormDialogOpened"
            [state]="examPeriodFormDialogState"
            [admin]="examPeriodForEdit"
            (dialogCancel)="onExamPeriodDialogCancel()"
            (formSubmit)="onExamPeriodSave($event)"></app-exam-period-form-dialog>

            <button
              class="btn btn-green inline-flex items-center"
              (click)="openExamPeriodFormDialog(FORM_STATE.ADD)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>New</button>

            <button
              (click)="showSearchBox = !showSearchBox"
              class="btn btn-indigo inline-flex items-center ml-2">
              <svg
                *ngIf="!showSearchBox"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"/>
              </svg>
              <svg
                *ngIf="showSearchBox"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 15l7-7 7 7"/>
              </svg>Filter</button>
          </div>

          <div accordion [opened]="showSearchBox">
            <div class="bg-red-300 text-white shadow-md w-3/4 rounded-2xl">
              <app-exam-period-search-form class="w-full text-indigo-800 font-bold rounded-full"></app-exam-period-search-form>
            </div>
          </div>
          
            <div class="grid grid-rows-3 gap-4 mt-4 w-3/4">
              <div class="exam-period-table-row bg-red-300 text-indigo-800">
                <div>Exam period name</div>
                <div>Start date</div>
                <div>End date</div>
            </div>
            <div *ngFor="let item of examPeriods" class="exam-period-table-row bg-indigo-900">
              <div>{{ item.name }}</div>
              <div>{{ datePipe.transform(item.startDate, 'yyyy-MM-dd') }}</div>
              <div>{{ datePipe.transform(item.endDate, 'yyyy-MM-dd') }}</div>
              <div class="space-x-5">
                <button
                    class="btn-sm-yellow"
                    (click)="examPeriodForEdit = item; openExamPeriodFormDialog(FORM_STATE.EDIT)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                  </svg>
                </button>

                <button class="btn-sm-red">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                  </svg>
                </button>
              </div>
            </div>
        </div>
    </div>
</div>
