<div class="flex flex-col flex-auto justify-center items-center">
    <div class="lg:w-3/4 bg-indigo-800 h-full p-4">
        <div class="w-3/4">
            <button (click)="showSearchBox = !showSearchBox" class="btn btn-indigo mb-5">
              >
            </button>
            Filter
            <div [hidden]="!showSearchBox" class="w-full h-full bg-red-200 rounded-2xl">
              <div class="flex justify-between w-full h-15">
                <button (click)="openDialog(0)" class="justify-self-auto w-1/4 bg-red-300 text-indigo-800 font-bold mb-5 mt-5 mx-3 rounded-full">+ Add a new exam period</button>
                
                <div class="w-3/5 h-15">
                  <app-exam-period-search-form class="w-full text-indigo-800 font-bold rounded-full"></app-exam-period-search-form>
                </div>
              </div>
            </div>
        </div>
          

            <div class="grid grid-rows-3 gap-4 mt-4 w-3/4">
              <div class="exam-period-table-row bg-red-300 text-indigo-800">
                <div>Exam period name</div>
                <div>Start date</div>
                <div>End date</div>
            </div>
            <div *ngFor="let item of examPeriods" class="exam-period-table-row bg-indigo-900">
              <div>{{ item.name }}</div>
              <div>{{ datePipe.transform(item.startDate, 'yyyy-MM-dd') }}</div>
              <div>{{ datePipe.transform(item.endDate, 'yyyy-MM-dd') }}</div>
              <div class="space-x-2">
                <button mat-stroked-button><mat-icon class="material-icons" (click)="openDialog(item._id)">edit</mat-icon></button>
                <button mat-stroked-button><mat-icon class="material-icons text-red-500" (click)="openDeleteDialog(item._id)">delete</mat-icon></button>
              </div>
            </div>
        </div>
    </div>
</div>
