<app-dialog [opened]="opened" [modal]="true">
  <ng-container class="heading">{{
    state === FORM_STATE.ADD
      ? "Create new course"
      : "Edit course: " + originalCourseName
    }}</ng-container>
  <ng-container class="content">
    <form #f="ngForm" (ngSubmit)="f.valid && submit(f)">
      <div class="flex px-8 py-4 space-x-8 justify-evenly bg-indigo-800">
        <div class="flex flex-col w-80 space-y-4 bg-indigo-800">
          <div class="custom-input-holder">
            <input
              required
              id="name"
              name="name"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="course.name"
              #name="ngModel"
            />
            <label for="name">Course Name</label>
            <div
              *ngIf="name.touched && name.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="name.errors?.required">
                  Course name is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button hidden></button>
    </form>
  </ng-container>
  <ng-container class="footer">
    <div class="inline-flex w-full justify-end space-x-2">
      <button class="btn-sm-red" (click)="onDialogCancel(f)">Cancel</button>
      <button
        [disabled]="f.invalid"
        class="btn-sm-blue disabled:bg-gray-600 disabled:opacity-50"
        (click)="submit(f)"
      >
        Save
      </button>
    </div>
  </ng-container>
</app-dialog>

