<div class="flex flex-col flex-auto justify-center items-center">
    <div class="w-full lg:w-2/3 bg-indigo-800 h-full my-10 p-4">
        <div *ngIf="examPeriodExamsPage$ | async as exams">
            <div class="w-full my-3">
                <button
                    class="btn btn-indigo inline-flex items-center ml-2"
                    (click)="goBack()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"/>
                    </svg>
                    Back
                </button>
            </div>

            <div *ngIf="examPeriod$ | async as examPeriod">
                <div class="flex flex-wrap">
                    <div class="flex-auto md:w-1/3 p-2 border-b-2 border-red-400 mx-5 my-4">
                        <label class="text-sm">Name</label>
                        <h1 class="w-auto font-semibold">{{ examPeriod.name }}</h1>
                    </div>

                    <div class="flex-auto md:w-1/3 p-2 border-b-2 border-red-400 mx-5 my-4">
                        <label class="text-sm">Institution</label>
                        <h1 class="font-semibold">{{ examPeriod.institution?.name }}</h1>
                    </div>

                    <div class="flex-auto md:w-1/3 p-2 border-b-2 border-red-400 mx-5 my-4">
                        <label class="text-sm">Start date</label>
                        <h1 class="font-semibold">{{ examPeriod.startDate }}</h1>
                    </div>

                    <div class="flex-auto md:w-1/3 p-2 border-b-2 border-red-400 mx-5 my-4">
                        <label class="text-sm">End date</label>
                        <h1 class="font-semibold">{{ examPeriod.endDate }}</h1>
                    </div>
                </div>
            </div>

            <div class="w-full my-3 mr-3">
                <button
                    (click)="showExams = !showExams"
                    class="w-full btn btn-indigo inline-flex items-center">
                    <svg
                        *ngIf="!showExams"
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"/>
                    </svg>
                    <svg
                        *ngIf="showExams"
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 15l7-7 7 7"/>
                    </svg>
                    Exams
                </button>
            </div>

            <div accordion [opened]="showExams">
                <button
                    class="btn btn-green inline-flex items-center my-3"
                    (click)="onNewExamClick()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    Assign
                </button>

                <table
                    class="
                    w-full
                    table-fixed
                    text-center
                    border-separate
                    table-row-spacing-y-4
                    font-semibold">
                    <thead>
                        <tr class="bg-red-300 text-indigo-800 shadow-md">
                            <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">
                                <div class="flex justify-center">
                                    Course name
                                </div>
                            </th>
                            <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">
                                <div class="flex justify-center">
                                    Date and time
                                </div>
                            </th>
                            <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">
                                <div class="flex justify-center">
                                    Classroom
                                </div>
                            </th>
                            <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">
                                <div class="flex justify-center">
                                    Espb
                                </div>
                            </th>
                            <th class="hover:bg-red-400 active:bg-orange-400 cursor-pointer">
                                <div class="flex justify-center">
                                    Description
                                </div>
                            </th>
                            <th class="w-16"></th>
                            <th class="w-16"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="hover:bg-indigo-600 text-white shadow-md min-h"
                        *ngFor="let exam of exams.content">
                            <td><a
                                [routerLink]="'courses/' + exam.course.id"
                                class="hover:text-orange-500">
                                {{ exam.course.name }}</a></td>
                            <td>{{ exam.dateTime | date : "dd-MM-yyy hh:mm"}}</td>
                            <td>{{ exam.classroom }}</td>
                            <td>{{ exam.points }}</td>
                            <td>{{ exam.description }}</td>
                            <td class="w-16">
                                <button
                                  class="btn-sm-yellow"
                                  (click)="onEditExamClick(exam)">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                  </svg>
                                </button>
                            </td>
                            <td class="w-16">
                                <button
                                  class="btn-sm-red"
                                  (click)="onDeleteExamClick(exam)">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                  </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
