/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 font-semibold rounded-full shadow-md focus:outline-none;
  }

  .btn-indigo {
    @apply bg-indigo-600 text-white hover:bg-indigo-700 active:bg-indigo-500;
  }

  .btn-green {
    @apply bg-green-600 text-white hover:bg-green-700 active:bg-green-500;
  }

  .btn-yellow {
    @apply bg-yellow-600
          text-white
          hover:bg-yellow-700
          active:bg-yellow-500;
  }

  .btn-red {
    @apply bg-red-700
          text-white
          hover:bg-red-800
          active:bg-red-600;
  }

  .btn-sm-red {
    @apply px-2
          py-1
          font-semibold
          rounded-lg
          shadow-md
          focus:outline-none
          bg-red-700
          text-white
          hover:bg-red-800
          active:bg-red-600;
  }

  .btn-sm-yellow {
    @apply px-2
          py-1
          font-semibold
          rounded-lg
          shadow-md
          focus:outline-none
          bg-yellow-600
          text-white
          hover:bg-yellow-700
          active:bg-yellow-500;
  }

  .btn-sm-blue {
    @apply px-2
          py-1
          font-semibold
          rounded-lg
          shadow-md
          focus:outline-none
          bg-blue-700
          text-white
          hover:bg-blue-800
          active:bg-blue-600;
  }

  .btn-sm-green {
    @apply px-2
          py-1
          font-semibold
          rounded-lg
          shadow-md
          focus:outline-none
          bg-green-600
          text-white
          hover:bg-green-700
          active:bg-green-500;
  }

  .router-link {
    @apply cursor-pointer h-full flex relative items-center text-sm text-white hover:text-orange-500 tracking-normal transition duration-150 ease-in-out group;
  }

  .active-router-link {
    @apply text-orange-500;
  }

  .avatar-ring {
    @apply ring-2 ring-orange-500 ring-offset-4 ring-offset-gray-800;
  }

  .router-outlet-content {
    @apply flex flex-col flex-auto overflow-y-auto;
  }

  .input-underlined {
    @apply h-10
    px-2
    w-full
    text-white
    bg-indigo-900
    rounded-lg
    border-0 border-b-2
    focus:border-orange-500
    focus:ring-0
    focus:outline-none
    shadow-md;
  }

  .input-underlined.ng-touched.ng-invalid {
    @apply border-red-500;
  }

  .input-underlined.ng-valid {
    @apply border-green-500;
  }

  .input-error-holder {
    @apply flex
    px-2
    h-auto
    min-h-10
    items-center
    rounded-b-lg
    text-opacity-50
    bg-red-800 bg-opacity-50;
  }

  .custom-table-row {
    @apply grid grid-cols-7
    justify-items-center
    bg-indigo-900
    px-2
    py-4
    text-white
    font-semibold
    rounded-2xl
    shadow-md;
  }

  .custom-input-holder {
    @apply relative;
  }

  .page-content-holder {
    @apply flex flex-col flex-auto justify-center items-center;
  }

  .page-content-card {
    @apply w-full bg-indigo-800 h-full my-10 p-4;
  }
}

@layer base {
  router-outlet + * {
    @apply router-outlet-content;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(49, 46, 129, 1) inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
  }

  button[disabled] {
    @apply cursor-not-allowed;
  }

  .custom-input-holder input {
    @apply pt-8 h-14;
  }

  .custom-input-holder input + label {
    @apply absolute
    w-full
    left-0
    top-6
    px-2
    opacity-50
    transition-all
    ease-out
    duration-300
    pointer-events-none;
  }

  .custom-input-holder select {
    @apply pt-6 h-14;
  }

  .custom-input-holder select + label {
    @apply absolute
    w-full
    left-0
    top-0
    px-2
    pointer-events-none
    text-orange-500;
  }

  .custom-input-holder input:focus + label,
  .custom-input-holder input:not(:placeholder-shown) + label {
    @apply opacity-100 text-orange-500 transform -translate-y-6;
  }

  .accordion:first-child {
    @apply mt-2;
  }

  .accordion:last-child {
    @apply mb-2;
  }

  table tr th:first-child,
  table tr td:first-child {
    @apply rounded-l-2xl;
  }

  table tr th:last-child,
  table tr td:last-child {
    @apply rounded-r-2xl;
  }

  table tr th,
  table tr td {
    @apply py-4 px-2;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-perfectDark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-coolGray-600;
  }

  ::-webkit-scrollbar-thumb:active {
    @apply bg-coolGray-700;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer utilities {
  .table-row-spacing-y-4 {
    border-spacing: 0 1rem;
  }
}
