<app-dialog [opened]="opened" [modal]="true">
  <ng-container class="heading">
    {{
      options.state === FORM_STATE.ADD
        ? "Create a new teacher"
        : "Edit a teacher " + originalTeacherUsername
    }}
  </ng-container>

  <ng-container class="content">
    <form #f="ngForm" (ngSubmit)="submit()">
      <div
        class="
          flex flex-col
          w-160
          px-8
          py-4
          space-y-4
          justify-evenly
          bg-indigo-800
        "
      >
        <div class="flex w-full space-x-4">
          <div class="custom-input-holder w-1/2">
            <input
              required
              id="firstName"
              name="firstName"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="teacher.firstName"
              #firstName="ngModel"
            />
            <label for="firstName">First name</label>
            <div
              *ngIf="firstName.touched && firstName.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="firstName.errors?.required">
                  First name is required
                </div>
              </div>
            </div>
          </div>
          <div class="custom-input-holder w-1/2">
            <input
              required
              id="lastName"
              name="lastName"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="teacher.lastName"
              #lastName="ngModel"
            />
            <label for="lastName">Last name</label>
            <div
              *ngIf="lastName.touched && lastName.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="lastName.errors?.required">
                  Last name is required
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex w-full space-x-4">
          <div class="custom-input-holder w-1/2">
            <input
              required
              id="username"
              name="username"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="teacher.user.username"
              (keyup)="validateUsername(username)"
              #username="ngModel"
            />
            <label for="username">Username</label>
            <div
              *ngIf="username.touched && username.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="username.errors?.required">
                  Username is required
                </div>
              </div>
            </div>
          </div>
          <div class="custom-input-holder w-1/2">
            <input
              required
              email
              id="email"
              name="email"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="teacher.user.email"
              #email="ngModel"
            />
            <label for="email">Email</label>
            <div
              *ngIf="email.touched && email.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="email.errors?.required">Email is required</div>
                <div *ngIf="email.errors?.email">
                  Email must be a valid email
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex w-full space-x-4">
          <div class="custom-input-holder w-1/2">
            <input
              required
              id="phoneNumber"
              name="phoneNumber"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="teacher.user.phoneNumber"
              #phoneNumber="ngModel"
            />
            <label for="phoneNumber">Phone Number</label>
            <div
              *ngIf="phoneNumber.touched && phoneNumber.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="phoneNumber.errors?.required">
                  Phone Number is required
                </div>
              </div>
            </div>
          </div>
          <div class="custom-input-holder w-1/2">
            <input
              required
              id="address"
              name="address"
              type="text"
              placeholder=" "
              class="input-underlined"
              [(ngModel)]="teacher.address"
              #address="ngModel"
            />
            <label for="address">Address</label>
            <div
              *ngIf="address.touched && address.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="address.errors?.required">Address is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex w-full space-x-4">
          <div class="custom-input-holder w-1/2">
            <input
              required
              id="dateOfBirth"
              name="dateOfBirth"
              type="date"
              placeholder=" "
              class="input-underlined"
              [ngModel]="teacher.dateOfBirth"
              (ngModelChange)="teacher.dateOfBirth = $event"
              #dateOfBirth="ngModel"
            />
            <label for="dateOfBirth">Date of birth</label>
            <div
              *ngIf="dateOfBirth.touched && dateOfBirth.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="dateOfBirth.errors?.required">
                  Date of birth is required
                </div>
              </div>
            </div>
          </div>
          <div
            class="custom-input-holder w-1/2"
            *ngIf="teacherTitlePage$ | async as titlePage"
          >
            <select
              required
              id="teacherTitle"
              name="teacherTitle"
              class="input-underlined form-select block"
              [(ngModel)]="teacher.teacherTitle"
              #teacherTitle="ngModel"
            >
              <option
                *ngIf="teacher?.teacherTitle?.id"
                [ngValue]="teacher.teacherTitle"
              >
                {{ teacher.teacherTitle.name }}
              </option>
              <ng-container *ngFor="let title of titlePage.content">
                <option
                  *ngIf="title.id !== teacher?.teacherTitle?.id"
                  [ngValue]="title"
                >
                  {{ title.name }}
                </option>
              </ng-container>
            </select>
            <label for="teacherTitle">Teacher title</label>
            <div
              *ngIf="teacherTitle.touched && teacherTitle.invalid"
              class="input-error-holder"
            >
              <div class="flex-col space-y-2">
                <div *ngIf="teacherTitle.errors?.required">
                  Teacher title is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button hidden></button>
    </form>
  </ng-container>

  <ng-container class="footer">
    <div class="inline-flex w-full justify-end space-x-2">
      <button class="btn-sm-red" (click)="options.cancel()">Cancel</button>
      <button
        [disabled]="f.invalid"
        class="btn-sm-blue disabled:bg-gray-600 disabled:opacity-50"
        (click)="f.onSubmit($event)"
      >
        Save
      </button>
    </div>
  </ng-container>
</app-dialog>
